:root {
    --ifm-footer-padding-vertical: 16px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.875rem;
}

h6 {
    font-size: 0.85rem;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    overflow: visible;
}

.table-item-9 {
    width: 300px;
    max-width: 300px;
    min-width: 200px;
    text-align: center;
}

.table-item-12 {
    width: 250px;
    max-width: 250px;
    min-width: 180px;
}

.sponsor-button-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponsor-button-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
